{% extends 'base.html' %}

{% block title %}
Saas Django App
{% endblock %}

{% block content %}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="{% url 'landing' %}" class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'account_signup' %}">Sing Up</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Log Out</a></li>
      {% else %}
        <li><a href="{% url 'account_login' %}">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}